# Copyright (c) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Ignore all of .idea folder by default for pycharm
.idea/*

*.pyc
__pycache__/

# SSL certificates
balancer/b_server.crt
balancer/b_server.key

# Database files
balancer/my_database.db-shm
balancer/my_database.db-wal
my_database.db

# Logs
logs/
