# Copyright (c) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Ignore all of .idea folder by default for pycharm
.idea/*

*.pyc
__pycache__/

# SSL certificates
key/

# Database files
my_database.db
my_database.db-shm
my_database.db-wal

# Logs
logs/

config/runtime_state.json

# deb packaging build output
/build/
