#libcgroup >= 3.2.0
PyYAML >= 6.0.2
psutil >= 5.5.1
#cpufreq >= 0.3.5
requests==2.32.3
peewee==3.17.8
bcc==0.1.10
pytest==8.4.1
flask

streamlit==1.40.0
streamlit-antd-components==0.3.2
streamlit-extras==0.4.2
extra-streamlit-components==0.1.71
streamlit-autorefresh==1.0.1